images/original_jpg/igor_demiyanenko.jpg
images/original_jpg/mykhailo_ermakov.jpg
images/original_jpg/mykola_tarasov.jpg
images/original_jpg/olga_repina.jpg
images/original_jpg/work_box1.jpg
images/original_jpg/work_box2.jpg
images/original_jpg/work_box3.jpg
images/original_jpg
.gitignore
